absl-py
astunparse
blinker
certifi
charset-normalizer
click
colorama
dm-tree
Flask
flatbuffers
gast
google-pasta
grpcio
h5py
idna
iniconfig
itsdangerous
Jinja2
joblib
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
namex
numpy
opt-einsum
packaging
pandas
pastel
pluggy
poethepoet
protobuf
Pygments
pytest
python-dateutil
pytz
requests
rich
scikit-learn
scipy
six
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
threadpoolctl
tomli
types-python-dateutil
typing_extensions
tzdata
urllib3
wcwidth
webencodings
Werkzeug
wrapt
flask_cors
unidecode